.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1a;
}

.reset-password-card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #892be25e;
    background-color: #252525;
    box-shadow: 0 0 10px #892be25e;
}

.reset-password-card p {
    margin-top: 1rem;
    color: #fff;
}

.reset-password-card p a {
    color: #8a2be2;
    text-decoration: none;
}

.reset-password-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-gradient {
    background: linear-gradient(to right, #8a2be2, #ae00ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.reset-password-container h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.reset-password-container input {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #3d3d3d;
    background-color: #00000031;
    color: #fff;
    font-size: 1rem;
}

.reset-password-container button {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #8a2be2;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.reset-password-container input:focus {
    outline: none;
    border-color: #8a2be2;
}

/*Otp verification*/
.input-otp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;

}

.input-otp-container input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    max-width: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    .reset-password-container h1 {
        font-size: 1.5rem;
    }

    .reset-password-container input {
        font-size: 0.8rem;
    }

    .reset-password-container button {
        font-size: 0.8rem;
    }
}