.login-popup {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1001
}

.btn-login {
    width: 90%;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login-popup-title button {
    background: rgba(182, 60, 253, 0.3);
    border-radius: 8px;
    border: none;
    color: aliceblue;
    display: flex;
    transition: 0.5s ease;
}

.login-popup-title button:hover {
    background: rgba(182, 60, 253, 0.5);
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 290px);
    color: aliceblue;
    background: var(--login-background);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    animation: fadeIn 0.5s;
    align-items: center;
}

.p-inputtext,
.login-popup-inputs input {
    display: flex;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #5f5f5f;
    gap: 10px;
}

.login-popup-condition {
    display: flex;
    justify-content: center;
    gap: 8px;


}

.login-popup-condition input {
    display: flex;
    align-items: start;
    gap: 8px;
    width: 18px;
}

.login-popup-condition p {
    font-size: 12px;
    font-weight: 400;
    color: #5f5f5f;
}

.login-popup-container p span {
    color: #ff5555;
    cursor: pointer;
    font-weight: 500;
}

.p-message-detail {
    font-size: 12px;
    margin-left: 10px;
    margin: 10px;
}

.p-message .p-message-icon.p-icon {
    margin-left: 10px;
    width: 18px;
}