.email-verify-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
}

.email-verify-container form {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.email-verify-container form p {
    font-size: 0.7rem;
    color: #ccc;
}

.email-verify-container form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-otp-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.input-otp-container input:focus {
    outline: none;
    border-color: var(--primary);
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.email-verify-container form button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-glow);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.email-verify-container form button:hover {
    background-color: var(--primary);
}

.email-verify-container form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.email-verify-container_back {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    background-color: var(--primary-glow);
    padding: 0.5rem;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-verify-back-text {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.email-verify-container_back:hover {
    background-color: var(--primary);
}