.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 1000;
    transition: var(--transition);
}

.btn-primary span {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    gap: 0.5rem;

}

.btn-primary span p {
    position: absolute;
    top: 110%;
    font-size: 10px;
    background-color: var(--glass-bg);
    padding: 2px;
    border-radius: 10px;
    border: 1px solid var(--text-muted);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-align: center;
    text-transform: capitalize;
}

.btn-primary span svg {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 2px;
    background-color: var(--glass-bg);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.2);
}

#user-profile {
    padding: 0.6rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.navbar.scrolled {
    padding: 1rem 0;
    border-radius: 0 0 20px 20px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.logo-icon {
    color: var(--primary);
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-links a {
    font-weight: 500;
    color: var(--text-muted);
}

.nav-links a:hover {
    color: var(--text-main);
}

.desktop-menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
}

.mobile-menu {
    position: absolute;
    top: 100%;
    left: 1.5rem;
    right: 1.5rem;
    padding: 2rem;
    margin-top: 1rem;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.w-full {
    width: 100%;
}


/* user profile dropdown */
.user-profile-dropdown {
    position: absolute;
    top: 150%;
    right: -10%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--text-muted);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 175px;
    z-index: 1001;
    opacity: 0;
    /* Começa invisível */
    visibility: hidden;
    /* Não ocupa espaço quando invisível */
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* Transição suave para a opacidade, e delay para visibility */
}

/* Itens do dropdown */
.user-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--text-muted);
    border-radius: 10px;
    padding: 0.5rem;
    width: 140px;
    background: #892be296;
    font-size: 12px;
}

/* Hover nos itens */
.user-profile-dropdown li:hover {
    background-color: var(--primary);
    border-radius: 10px;
    margin-left: 10px;
    transition: 0.5s ease-in-out;
}



/* Exibe o dropdown quando o usuário passar o mouse */
#user-profile:hover .user-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
    /* Mostra o dropdown imediatamente */
}

.alert-verify-email {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fbff00;
    width: 20px;
    height: 20px;
    z-index: 1002;
    animation: alertPulse 2s infinite ease-in-out;
}

@keyframes alertPulse {
    0% {
        color: #fffb00;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #e5ff0018;
    }
}

.check-email {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 50px;
    top: 5px;
    color: #00ff88;
    background: var(--glass-bg);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 15px;
    height: 15px;
    z-index: 1002;
}


.user-profile-dropdown .text-danger {
    border: 1px solid rgb(255, 251, 0);
    border-radius: 10px;
    animation: borderPulse 2s infinite ease-in-out;
}

@keyframes borderPulse {
    0% {
        border-color: #b700ff;
    }

    50% {
        border-color: #f1cfff;
    }

    100% {
        border-color: #7700ffaf;
    }
}


@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .mobile-toggle {
        display: block;
    }

    .user-profile-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        left: -60%;
        right: 0;
    }

    .btn-primary span p {
        top: 90%;
        margin-top: 5px;
    }


}

@media (max-width: 1024px) {
    .check-email {
        top: 70%;
    }

    .user-profile-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        left: -60%;
        right: 0;
    }
}